@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-purple: #7C3AED;
  --brand-blue: #2563EB;
  --bg-dark: #020617;
  --text-main: #E5E7EB;
  --text-secondary: #94A3B8;
}

html,
body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  min-height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* Scroll mais elegante */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
